---
layout: default
seoSchemaPageType: Article
eleventyComputed:
  canonical: "{{ env.site }}/{{ title | slugify }}/"
---

{% import "./partials/navbar.html" as navBar with context %}
{% import "./components/buttons/anchor.html" as anchorButton with context %}

{{ navBar.nav(bgColour='bg-white') }}

<section class="container">

  <article class="my-6 flex flex-col md:block prose max-w-5xl mx-auto">

    <h1 class="dark-copy">{{ title }}</h1>

    <h2 class="dark-copy italic">{{ subTitle }}</h2>
    
    {% if start_date and end_date %}
      {% set startDateReadable = start_date | readableDate %}
      {% set endDateReadable = end_date | readableDate %}
      {% set startTimeReadable = start_date | readableTime %}
      {% set endTimeReadable = end_date | readableTime %}
      {% if startDateReadable == endDateReadable %}
      <p>
        <time class="text-[color:var(--dark-gray)] text-lg italic block">
        {{ startDateReadable }}, {{ startTimeReadable }} - {{ endTimeReadable }}
        </time>
      </p>
      {% else %}
      <p>
        <time class="text-[color:var(--dark-gray)] text-lg italic block">
        {{ startDateReadable }} {{ startTimeReadable }} - {{ endDateReadable }} {{ endTimeReadable }}
        </time>
      </p>
      {% endif %}
    {% else %}
      <p class="text-[color:var(--dark-gray)] text-lg italic block">{{ repeatingDate }}</p>
    {% endif %}
  
    <p class="mb-1 text-lg"><strong>Location:</strong> {{ location }}</p>
    <p class="mb-1 text-lg"><strong>Price:</strong> {{ price }}</p>
    <p class="mt-2 text-lg">{{ description }}</p>

    {{ content | safe }}

    {{ anchorButton.anchor(anchorText='Book Now', destination=bookingLink, isExternal=bookingLinkExternal, classes='no-underline flex justify-self-end') }}

  </article>
	
</section>
