{% macro heroComponent(type, scope, seo) %}
  <div class="flex flex-col lg:flex-row items-center justify-center text-center max-w-3xl justify-self-center">
    <div>
      {% if type == 'home' %}
        <h1>{{ scope.title | safe }}</h1>
      {% else %}
        <h1>{{ seo.title | safe }}</h1>
      {% endif %}
      
      <h2>{{ scope.subTitle | safe }}</h2>

      {% if scope.phoneNumber  %}
        <a          
          href="tel:{{ scope.phoneNumber }}"  
          class="cursor-pointer text-xl crimson-text-regular-italic"
        >
          {{ scope.phoneNumber | safe }}
        </a>
      {% endif %}     
    </div>
  </div>
{% endmacro %}