<div class="relative bg-gray-300 py-8">
  <!-- Top arrow -->
  <div class="absolute left-1/2 -top-6 transform -translate-x-1/2 w-0 h-0 border-l-[32px] border-r-[32px] border-b-[32px] border-l-transparent border-r-transparent border-b-gray-300 z-10"></div>

  <div class="max-w-7xl mx-auto px-4 flex flex-wrap justify-center items-center gap-8">
    <img
      src="/_includes/static/img/advanced-amdr.webp"
      alt="Advanced AMDR"
      title="Advanced AMDR"
      class="h-32 object-contain"
      loading="lazy"
      decoding="async"
      height="192px"
    />
    <img
      src="/_includes/static/img/compassionate-inquiry-seal-of-approval.webp"
      alt="Compassionate Inquiry Seal of Approval"
      title="Compassionate Inquiry Seal of Approval"
      class="h-32 object-contain"
      loading="lazy"
      decoding="async"
      height="192px"
    />
  </div>

  <!-- Bottom arrow -->
  <div class="absolute left-1/2 -bottom-6 transform -translate-x-1/2 w-0 h-0 border-l-[32px] border-r-[32px] border-t-[32px] border-l-transparent border-r-transparent border-t-gray-300 z-10"></div>
</div>
