---
layout: default
path: home
type: home
ogType: website
seoSchemaPageType: Organization
eleventyComputed:
  description: "{{ homepageSeo.description }}"
  seoTitle: "{{ homepageSeo.seoTitle }}"
  canonical: "{{ env.site }}/"
---

{% import "./_includes/partials/navbar.html" as navBar with context %}
{% import "./_includes/components/seoIntroText.html" as seoIntroText with context %}
{% import "./_includes/components/buttons/more-button.html" as moreButton with context %}
{% import "./_includes/components/section.html" as section with context %}
{% import "./_includes/components/hero.html" as hero with context %}

{{ navBar.nav(bgColour='bg-white') }}

<div>

  <section class="min-h-[calc(100dvh-var(--nav-height))] flex flex-col border-b-4 border-b-[color:var(--primary-colour)] border-solid background-image-class background-image-class--home">

    <div class="container content-center grow">
      {{ hero.heroComponent(type='home', scope=homeHero, seo=homepageSeo) }}
    </div>
  
    {{ moreButton.button() }}
  </section>  

  <section class="dark-copy" data-test="moreButtonLocation">
    {{ seoIntroText.seoIntroTextComponent() }}
  </section>

  <section class="bg-[color:var(--tertiary-colour)] text-[color:var(--white)]">
    {{ section.sectionComponent(scope=about, buttonType='primary') }}
  </section>

  <section class="bg-[color:var(--white)] text-[color:var(--dark-copy)]">
    {{ section.sectionComponent(scope=breathworkAndMeditation, buttonType='primary') }}
  </section>

  <section class="bg-[color:var(--primary-colour)] text-[color:var(--white)]">
    {{ section.sectionComponent(scope=retreats, buttonType='tertiary') }}
  </section>

  <section class="bg-[color:var(--white)] text-[color:var(--dark-copy)]">
    {{ section.sectionComponent(scope=oneToOneTherapy, buttonType='primary') }}
  </section>

  <section class="bg-[color:var(--tertiary-colour)] text-[color:var(--white)]">
    {{ section.sectionComponent(scope=events, buttonType='primary') }}
  </section>

  <section class="dark-copy container container--medium flex flex-col justify-center mx-auto">

    <h2>Latest News</h2>

    {% set newsList = collections.news %}
  
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
  
      {% for newsItem in newsList | reverse %}
        {% if loop.index0 < 4 %}
          <article class="w-full max-w-full flex flex-col">
            <a
              href="{{ newsItem.url | url }}"
              class="text-xl text-gray-900 mb-3 no-underline hover:underline flex flex-col h-full">
              <img
                src="{{ newsItem.data.imageForSeo }}"
                alt="{{ newsItem.data.imageUrl }}"
                class="w-full"
                width="600px"
                height="450px"
              />
              <div class="flex flex-grow">
                <div class="triangle"></div>
                <div class="flex flex-col justify-between px-4 py-6 bg-white border border-gray-400 w-full">
                  <div>
                    <span class="inline-block mb-4 text-xs font-bold capitalize border-b-2 border-[color:var(--primary-colour)] hover:text-[color:var(--primary-colour)]">News</span>
                    <span class="block mb-4 text-2xl font-black leading-tight hover:underline hover:text-[color:var(--primary-colour)]">{{ newsItem.data.title }}</span>
                  </div>
                  <div>
                    <span class="inline-block pb-1 mt-2 text-base font-black text-[color:var(--primary-colour)] uppercase border-b border-transparent hover:border-[color:var(--primary-colour)]">Read More -></span>
                  </div>
                </div>
              </div>
            </a>
          </article>
        {% endif %}
      {% endfor %}
  
    </div>
  </section>

</div>
