@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/
:root {
  --primary-colour: #118187;
  --secondary-colour: #009735;
  --tertiary-colour: #00595D;
  --white: #FFFFFF;
  --lightest-gray: #f9fafb;
  --very-light-gray: #eaeaea;
  --dark-gray: #5f6571;
  --dark-copy: #333333;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  @apply text-white text-lg;

  font-family: "Crimson Text", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Crimson Text", sans-serif;
  font-style: normal;
}

h1 {
  @apply text-3xl sm:text-4xl lg:text-5xl mb-5;
}

h1, h2, h3, h4 {
  @apply crimson-text-semibold-italic;
}

h2 {
  @apply text-2xl sm:text-3xl lg:text-4xl mb-4;
}

h3, h4 {
  @apply text-xl sm:text-2xl lg:text-3xl mb-4;
}

p {
  @apply mb-4;
}

.dark-copy {
  color: var(--dark-copy);
}

.subtle-text-on-light-background {
  color: var(--dark-gray);
}

.container {
  @apply p-4 sm:p-5 md:p-6 !max-w-[1300px];
}

.container--medium {
  @apply py-6 sm:py-7 md:py-14;
}

.container--large {
  @apply py-9 sm:py-10 md:py-28;
}

.anchor-highlight {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--primary-colour)];
}

.anchor-white {
  @apply underline-offset-4 decoration-2 underline decoration-[color:var(--white)];
}

#sortbox:checked ~ #sortboxmenu {
  opacity: 1;
}

/*
  Article image component
*/
img.Centre {
  @apply mx-auto;
}

img.Left {
  @apply m-0 md:float-left md:pr-12 md:pb-12 md:max-w-[50%];
}

img.Right {
  @apply m-0 md:float-right md:pl-12 md:pb-12 md:max-w-[50%];
}

.youtube-embed {
  @apply flex flex-col items-center mt-7
}

.youtube-embed.Left {
  @apply m-0 lg:float-left lg:pr-12 lg:pb-8 mt-0;
}

.youtube-embed.Right {
  @apply m-0 lg:float-right lg:pl-12 lg:pb-8 mt-0;
}

.background-image-class {
  background-size: cover;
  background-position: center;
}

.background-image-class--home {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url('/_includes/static/img/pexels-lucaspezeta-2529375.avif');
}

.background-image-class--contact {
  background-image: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6) ), url('/_includes/static/img/pexels-shvetsa-4672717.avif');
}

/* Syntax Highlighting*/
body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

@layer components {
  .container {
    @apply max-w-none sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl 3xl:max-w-screen-3xl;
  }
}
