{% import "../components/buttons/anchor.html" as anchor with context %}

<footer class="relative py-20 flex flex-col items-center bg-[color:var(--primary-colour)] overflow-hidden md:py-40">
  <div class="relative z-[1] !max-w-[800px] m-auto px-6">
    
    
      <div class="w-full grid grid-cols-1 gap-8 sm:grid-cols-2 sm:gap-12 md:grid-cols-3">

        {% if navigation.firstLevelItems %}
          <ul role="list" class="list-disc list-inside space-y-8">
            {% for item in navigation.firstLevelItems %}
              
                {% if item.showInFooter !== false %}

                  <li>
                    <a
                      href="{{ item.url }}"
                      class="hover:opacity-70 transition">
                      {{ item.text }}
                    </a>
                  </li>
                
                {% endif %}
              
            {% endfor %}                    
          </ul>
        {% endif %}                  

        {% for item in navigation.firstLevelItems %}
          
          {% if item.secondLevelItems %}
            <ul role="list" class="list-disc list-inside space-y-8">
              {% for subItem in item.secondLevelItems %}

                <li>
                  <a
                    href="{{ subItem.url }}"
                    class="hover:opacity-70 transition">
                      {{ subItem.text }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}            
         
        {% endfor %}
        
        <div class="mt-8 text-center sm:mt-0 sm:col-span-2 md:col-span-3">
          {% if settings.siteName %}
            <span class="block font-bold">{{ settings.siteName }}</span>
          {% endif %}
  
          <span class="block py-3">
            <a href="/privacy-policy/" class="font-semibold text-white hover:opacity-70">Privacy Policy</a> 
          </span>
  
          <small class="text-white">
            © {{ helpers.currentYear() }} <a href="{{ settings.poweredByUrl }}" target="_blank" rel="noopener" class="underline">{{ settings.poweredBy }}</a>. All rights reserved.
          </small>
        </div>
          
      </div>      
   
  </div>

</footer>